<launch>
  <!-- Arguments -->
  <arg name="ticks_meter" default="12500">
  <arg name="base_width" default="0.34">  
  <arg name="map_file" default="$(find my_nav)/maps/new_rf.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Odometry -->
  <node pkg="wheel_odometry" type="odom_publisher.py" name="odom_publisher">
    <param name="base_width"   type="float"    value="$(arg base_width)"/>
    <param name="ticks_meter"  type="int"      value="$(arg ticks_meter)"/>
  </node>
  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find my_nav)/launch/amcl.launch"/>

  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find my_nav)/rviz/amcl.rviz"/>
  </group>

</launch>
