<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find my_nav)/maps/new_rf.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Odometry -->
  <!-- <node pkg="wheel_odometry" type="wheel_node" name="wheel_node"/> -->
  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find my_nav)/launch/amcl.launch"/>

  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find my_nav)/rviz/amcl.rviz"/>
  </group>

</launch>
