<launch>
  <!-- Arguments -->
  <arg name="ticks_meter" default="1"/>
  <arg name="base_width" default="0.25"/>  
  <arg name="map_file" default="$(find my_nav)/maps/new_rf.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- Odometry -->
  <node pkg="wheel_odometry" type="odom_publisher.py" name="odom_publisher">
    <!--<param name="base_width"   value="$(arg base_width)"/>-->
    <!--<param name="ticks_meter"  value="$(arg ticks_meter)"/>-->
  </node>
  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find my_nav)/launch/amcl.launch"/>

  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find my_nav)/rviz/amcl.rviz"/>
  </group>

</launch>
